<div>
  <h2>
    Click <a [routerLink]="['/custom-image']">here to upload your own image</a>  or click on one of the images in the list below.
  </h2>
  <div *ngFor="let image of imageListForCurrentPage">
    <button class="imgur-img-wrapper">
      <img (click)="selectImage(image)" class="imgur-img" [src]="image.link" alt=""/>
    </button>
  </div>
  <div *ngIf="imageListForCurrentPage" class="paginator">
    <mat-paginator [length]="pageLength"
                   [pageSize]="pageSize"
                   [hidePageSize]="true"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>

</div>
